* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: white;
}

/* -----> Header <----- */
header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 4px; 
    background-color: white;
}

header h1 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.githubBTN {
    height: 40px;
}

/* -----> Scores, Timer, etc... <----- */
.Section_Stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    background-color: lightgray;
}

.Section_Stats div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.Section_Stats h3 {
    font-size: 24px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}

.Section_Stats h3:last-child {
    cursor: pointer;
}

/* -----> Guess The Color Section <----- */
.Section_GuessTheColor {
    width: 100vw;
    height: 25vh;
    /* height: 250px; */
    background-color: red;
    position: relative;
}

.Section_GuessTheColor h2 {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
}

/* -----> Colors Section <----- */ 
.Section_Colors {
    background-color: lightgray;
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Section_ColorCircles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

/* -----> Footer <----- */
footer {
    margin-top: 16px;
    padding: 4px;
    /* background-color: lightgray; */
}

footer h3 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    padding-left: 8px;
}

/* ----> Start Window <----- */
.startWindow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}